<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Listing</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Event Listing</h1>
    <form id="todo-form">
        <input type="text" id="todo-input" placeholder="Enter Event">
        
    
    <ul id="Event Listing"></ul>
    
        <input type="text" id="todo-input" placeholder="Enter Date">

    
    &nbsp;
    
        <input type="text" id="todo-input" placeholder="Enter Time">
        <button type="submit">Add</button>
    </form>
    &nbsp;    
    <style>
        table {
            border-collapse: collapse;
            width: 300px;
            height: 300px;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
    </style>
</head>
<body>

<table>
    <tr>
        <td>Date</td>
        <td>Time</td>
        <td>Event</td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

</body>
</html>
